.searchPriorities-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.searchPriorities-enter.searchPriorities-enter-active {
  opacity: 1;
}

.searchPriorities-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.searchPriorities-leave.searchPriorities-leave-active {
  opacity: 0.01;
}